- title @district.name, false

.page-header
  %h3.sub-title.inline
    = @district.name
    %span
      = link_to state_path(@state), class: 'btn btn-default btn-xs', title: "Back to #{@state.name}" do
        %span.glyphicon.glyphicon-arrow-left

%ul.nav.nav-tabs
  %li.active
    = link_to '#general', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-file
      General
  %li
    = link_to district_schools_path(@district) do
      %span.glyphicon.glyphicon-bell
      Schools (#{@schools.total_count})
  %li
    = link_to '#campaigns', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-fire
      All Campaigns (#{@campaigns.total_count})

.tab-content
  #general.tab-pane.active
    %table.table.table-hover.table-striped.table-condensed
      %tbody
        %tr
          %th= District.human_attribute_name(:name)
          %td
            = @district.name
            %span.pull-right
              = link_to edit_state_district_path(@state, @district), class: 'btn btn-warning btn-xs', title: "Edit District" do
                %span.glyphicon.glyphicon-edit
                Edit
        %tr
          %th= District.human_attribute_name(:state)
          %td
            - if @district.state.present?
              = link_to @district.state.name, @district.state
            - else
              N/A
        %tr
          %th= District.human_attribute_name(:created_at)
          %td= l(@district.created_at, format: :short)
        %tr
          %th= District.human_attribute_name(:updated_at)
          %td= l(@district.updated_at, format: :short)

  #campaigns.tab-pane
    = paginate @campaigns, param_name: "campaigns_page", params: { anchor: "campaigns" }
    %table.table.table-striped.table-hover.table-condensed
      %thead
        %tr
          %th= Campaign.human_attribute_name(:name)
          %th= Campaign.human_attribute_name(:school)
          %th= Campaign.human_attribute_name(:school_wide)
          %th= Campaign.human_attribute_name(:active)
      %tbody
        - @campaigns.each do |campaign|
          %tr
            %td= link_to campaign.name, campaign
            %td= link_to campaign.school.name, [campaign.school.district, campaign.school]
            %td= campaign.school_wide? ? "Yes" : "No"
            %td= campaign.active? ? "Yes" : "No"
