#navbar-collapse-1.collapse.navbar-collapse
  %ul.nav.navbar-nav
    - if user_signed_in?
      %li
      %li{class: is_active_link?(campaigns_path, :inclusive) ? 'active' : nil}
        = active_link_to campaigns_path, active: ["master/campaigns"] do
          %span.glyphicon.glyphicon-fire
          Campaigns
      %li{class: is_active_link?(contributors_path, :inclusive) ? 'active' : nil}
        = active_link_to contributors_path, active: ["master/contributors"] do
          %span.glyphicon.glyphicon-shopping-cart
          Contributors
      %li
        = link_to '#' do
          %span.glyphicon.glyphicon-signal
          Reports

  -# Sidebar menu
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      -# Configuration Menu
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.glyphicon.glyphicon-cog
          Configuration
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to users_path do
              %span.glyphicon.glyphicon-user
              Users
          %li
            = link_to states_path do
              %span.glyphicon.glyphicon-globe
              States
          %li
            = link_to districts_path do
              %span.glyphicon.glyphicon-fullscreen
              Districts
          %li
            = link_to schools_path do
              %span.glyphicon.glyphicon-bell
              Schools
          %li
            = link_to teachers_path do
              %span.glyphicon.glyphicon-briefcase
              Teachers
      -# User Menu
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          = current_user.email
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to '#' do
              %span.glyphicon.glyphicon-user
              My Profile
          %li.divider
          %li
            = link_to '#' do
              %span.glyphicon.glyphicon-fire
              Campaigns
          %li
            = link_to '#' do
              %span.glyphicon.glyphicon-cog
              Something Else
          %li.divider
          %li
            = link_to destroy_user_session_path, method: :delete do
              %span.glyphicon.glyphicon-off
              Logout
    - else
      %li{class: is_active_link?(new_user_session_path, :inclusive) ? 'active' : nil}
        = active_link_to new_user_session_path, active: ["master/sessions"] do
          %span.glyphicon.glyphicon-off
          Login
