= simple_form_for(@state) do |f|
  = f.error_notification

  = f.input :name
  = f.input :abbr

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', @state.new_record? ? states_path : state_path(@state), class: 'btn btn-link'
