= simple_form_for(@campaign) do |f|
  = f.error_notification

  = f.input :name
  = f.association :state, include_blank: false
  = f.association :district, include_blank: false, collection: @campaign.new_record? ? District.ordered : @campaign.state.districts.ordered
  = f.association :school, include_blank: false, collection: @campaign.new_record? ? School.all : @campaign.school.district.schools.ordered
  = f.association :product, include_blank: false
  = f.input :physical_address
  = f.input :physical_address_ext
  = f.input :physical_city
  = f.input :physical_state
  = f.input :physical_postal_code
  = f.input :school_wide, as: :select, include_blank: false
  = f.input :campaignable, as: :select, include_blank: false, collection: Teacher.ordered
  = f.input :campaignable_type, as: :select, include_blank: false, collection: Campaign.campaignable_types
  = f.input :active, as: :select, include_blank: false
  = f.input :goal_amount_dollars, required: true do
    = f.input_field :goal_amount_dollars, value: @campaign.new_record? ? number_with_precision(1.00, precision: 2) : number_with_precision(@campaign.goal_amount.dollars, precision: 2), class: "goal-amount-dollars", as: :string

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', campaigns_path, class: 'btn btn-link'
