- title "Campaign : #{@campaign.name}", false

.page-header
  %h3.sub-title.inline
    Campaign : #{@campaign.name}
    %span
      = link_to edit_campaign_path(@campaign), class: 'btn btn-warning btn-xs', title: "Edit Campaign" do
        %span.glyphicon.glyphicon-edit

%ul.nav.nav-tabs
  %li.active
    = link_to '#general', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-file
      General
  %li
    = link_to '#contributions', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-shopping-cart
      Contributions
  %li
    = link_to campaign_impressions_path(@campaign.to_param) do
      %span.glyphicon.glyphicon-question-sign
      Impressions

.tab-content
  #general.tab-pane.active
    %h5.page-header General Information
    %table.table.table-hover.table-striped.table-condensed
      %tbody
        %tr
          %th= Campaign.human_attribute_name(:name)
          %td= @campaign.name
          %th= Campaign.human_attribute_name(:campaignable)
          %td
            - if @campaign.campaignable.present?
              = link_to @campaign.campaignable.to_s, @campaign.campaignable
            - else
              N/A
        %tr
          %th= Campaign.human_attribute_name(:product)
          %td
            - if @campaign.product.present?
              = link_to @campaign.product.name, @campaign.product
            - else
              N/A
          %th= Campaign.human_attribute_name(:goal_amount)
          %td= humanized_money_with_symbol(@campaign.goal_amount.dollars, no_cents_if_whole: false)
        %tr
          %th= Campaign.human_attribute_name(:slug)
          %td= link_to @campaign.slug, landing_campaign_url(@campaign.to_param, subdomain: 'landing')
          %th= Campaign.human_attribute_name(:state)
          %td
            - if @campaign.state.present?
              = link_to @campaign.state.name, @campaign.state
            - else
              N/A
        %tr
          %th= Campaign.human_attribute_name(:district)
          %td
            - if @campaign.district.present?
              = link_to @campaign.district.name, @campaign.district
            - else
              N/A
          %th= Campaign.human_attribute_name(:school)
          %td
            - if @campaign.school.present?
              = link_to @campaign.school.name, @campaign.school
            - else
              N/A
        %tr
          %th= Campaign.human_attribute_name(:school_wide)
          %td= @campaign.school_wide? ? "Yes" : "No"
          %th= Campaign.human_attribute_name(:active)
          %td= @campaign.active? ? "Yes" : "No"
        %tr
          %th= Campaign.human_attribute_name(:physical_address)
          %td= @campaign.physical_address
          %th= Campaign.human_attribute_name(:physical_address_ext)
          %td= @campaign.physical_address_ext
        %tr
          %th= Campaign.human_attribute_name(:physical_city)
          %td= @campaign.physical_city
          %th= Campaign.human_attribute_name(:physical_state)
          %td= @campaign.physical_state
        %tr
          %th= Campaign.human_attribute_name(:physical_postal_code)
          %td= @campaign.physical_postal_code
          %th
          %td
        %tr
          %th= Campaign.human_attribute_name(:created_at)
          %td= l(@campaign.created_at, format: :short)
          %th= Campaign.human_attribute_name(:updated_at)
          %td= l(@campaign.updated_at, format: :short)

  #contributions.tab-pane
    %h5.page-header Contributions
    = paginate @contributions, param_name: "contributions_page", params: { anchor: "contributions" }
    %table.table.table-striped.table-hover.table-condensed
      %thead
        %tr
          %th= Contribution.human_attribute_name(:pledge_id)
          %th= Contribution.human_attribute_name(:amount)
          %th= Contribution.human_attribute_name(:contributor)
          %th= Contribution.human_attribute_name(:pledged_at)
      %tbody
        - @contributions.each do |contribution|
          %tr
            %td= link_to contribution.pledge_id, contribution
            %td= humanized_money_with_symbol(contribution.amount.dollars, no_cents_if_whole: false)
            %td= link_to contribution.contributor.name, contribution.contributor
            %td= l(contribution.pledged_at, format: :short)
