= simple_form_for(@user) do |f|
  = f.error_notification

  = f.input :email, required: true
  = f.input :password, required: true
  = f.input :password_confirmation, required: true

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', users_path, class: 'btn btn-link'
