- title @campaign_request.campaign_name, false

.page-header
  %h3.sub-title.inline
    = @campaign_request.campaign_name
    %span
      = link_to campaign_requests_path, class: 'btn btn-default btn-xs', title: "All Campaign Requests" do
        %span.glyphicon.glyphicon-arrow-left

%ul.nav.nav-tabs
  %li.active
    = link_to '#general', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-file
      General

.tab-content
  #general.tab-pane.active
    %table.table.table-hover.table-striped.table-condensed
      %tbody
        %tr
          %th= CampaignRequest.human_attribute_name(:campaign_name)
          %td= @campaign_request.campaign_name
          %th= CampaignRequest.human_attribute_name(:email)
          %td= mail_to @campaign_request.email
        %tr
          %th= CampaignRequest.human_attribute_name(:state)
          %td= link_to @campaign_request.state.name, @campaign_request.state
          %th= CampaignRequest.human_attribute_name(:district_name)
          %td= @campaign_request.district_name
        %tr
          %th= CampaignRequest.human_attribute_name(:school_name)
          %td= @campaign_request.school_name
          %th= CampaignRequest.human_attribute_name(:teacher_first_name)
          %td= @campaign_request.teacher_first_name
        %tr
          %th= CampaignRequest.human_attribute_name(:teacher_last_name)
          %td= @campaign_request.teacher_last_name
          %th= CampaignRequest.human_attribute_name(:school_wide)
          %td= @campaign_request.school_wide? ? 'Yes' : 'No'
        %tr
          %th= CampaignRequest.human_attribute_name(:approved_at)
          %td
            - if @campaign_request.approved_at.present?
              = l(@campaign_request.approved_at, format: :short)
            - else
              N/A
          %th= CampaignRequest.human_attribute_name(:campaign)
          %td
            - if @campaign_request.campaign.present?
              = link_to @campaign_request.campaign.name, @campaign_request.campaign
            - else
              N/A
        %tr
          %th= CampaignRequest.human_attribute_name(:created_at)
          %td= l(@campaign_request.created_at, format: :short)
          %th= CampaignRequest.human_attribute_name(:updated_at)
          %td= l(@campaign_request.updated_at, format: :short)
        %tr
          %th= CampaignRequest.human_attribute_name(:slug)
          %td
            = link_to landing_campaign_request_url(@campaign_request.to_param, subdomain: 'landing'), target: '_blank', class: 'btn btn-link', title: 'View Public Campaign Request' do
              = @campaign_request.slug
              %span.glyphicon.glyphicon-share-alt
          %th Actions
          %td
            %span
              - if @campaign_request.approved_at.blank?
                -# Don't edit already converted stuff
                = link_to edit_campaign_request_path(@campaign_request), class: 'btn btn-warning btn-xs', title: "Edit Campaign Request" do
                  %span.glyphicon.glyphicon-edit
                  Edit
                -# Don't convert already converted campaigns
                = link_to convert_campaign_request_path(@campaign_request), class: 'btn btn-primary btn-xs', title: "Convert Campaign Request" do
                  %span.glyphicon.glyphicon-retweet
                  Convert
