= simple_form_for [@teacher, @campaign], url: master_ajax_teacher_campaigns_path(@teacher), remote: true, wrapper: :modal do |f|
  = f.error_notification

  = f.input :name
  = f.association :product, include_blank: false, collection: Product.all.map { |k| [k.pretty_name, k.id] }
  = f.input :physical_address
  = f.input :physical_address_ext
  = f.input :physical_city
  = f.input :physical_state
  = f.input :physical_postal_code
  = f.input :active, as: :select, include_blank: false

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary'
