- title "Contributors"

- content_for(:toolbar) do
  = link_to new_contributor_path, title: "New Contributor", class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
  = render "contributors_search_filter"

= paginate @contributors

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th= sorty "name", Contributor.human_attribute_name(:name), true
      %th= sorty "email", Contributor.human_attribute_name(:email)
      %th= sorty "created_at", Contributor.human_attribute_name(:created_at)
      %th= sorty "updated_at", Contributor.human_attribute_name(:updated_at)
      %th
      %th
  %tbody
    - @contributors.each do |contributor|
      %tr
        %td= link_to contributor.name, contributor
        %td= mail_to contributor.email
        %td= l(contributor.created_at, format: :short)
        %td= l(contributor.updated_at, format: :short)
        %td
          = link_to edit_contributor_path(contributor), class: 'btn btn-warning btn-xs', title: 'Edit Contributor' do
            %span.glyphicon.glyphicon-edit
        %td
          = link_to contributor, method: :delete, data: { confirm: 'Are you sure?' }, id: "contributor_destroy_#{contributor.id}", title: "Remove Contributor", class: 'btn btn-danger btn-xs' do
            %span.glyphicon.glyphicon-remove

= paginate @contributors
