- title @campaign.name

= image_tag(Gchart.pie_3d(data: [5,95], slice_colors: '0000FF,FF0000', title: 'Information Provided vs. Code Expected', size: '400x200', labels: ['Provided', 'Expected']))

%ul
  %li= link_to 'Reports', reports_campaign_path(@campaign.to_param)
  %li= link_to 'Contributions', contributions_campaign_path(@campaign.to_param)
  %li= link_to 'Partner', partner_campaign_path(@campaign.to_param)
  %li= link_to 'Thank You', thank_you_campaign_path(@campaign.to_param)

%h5.page-header Contribute
= simple_form_for :impression, url: campaign_landing_impressions_url(@campaign.to_param), method: :post do |f|
  = f.error_notification

  = f.input :email, as: :string
  = f.input :referral_kind, as: :hidden, input_html: { value: params.try(:[], :synd) }

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, 'Contribute', class: 'btn btn-primary'
