= simple_form_for [@district, @school] do |f|
  = f.error_notification

  = f.input :name

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.button :submit, class: 'btn btn-primary'
      = link_to 'Cancel', @school.new_record? ? district_schools_path(@district) : district_school_path(@district, @school), class: 'btn btn-link'
