- title @school.name, false

.page-header
  %h3.sub-title.inline
    = @school.name
    %span
      = link_to state_district_path(@district.state, @district), class: 'btn btn-default btn-xs', title: "Back to #{@district.name}" do
        %span.glyphicon.glyphicon-arrow-left

%ul.nav.nav-tabs
  %li.active
    = link_to '#general', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-file
      General
  %li
    = link_to school_teachers_path(@school) do
      %span.glyphicon.glyphicon-briefcase
      Teachers (#{@teachers.total_count})
  %li
    = link_to '#school_based_campaigns', data: {toggle: 'tab'} do
      %span.glyphicon.glyphicon-fire
      School Based Campaigns (#{@school_based_campaigns.total_count})

.tab-content
  #general.tab-pane.active
    %table.table.table-hover.table-striped.table-condensed
      %tbody
        %tr
          %th= School.human_attribute_name(:name)
          %td
            = @school.name
            %span.pull-right
              = link_to edit_district_school_path(@district, @school), class: 'btn btn-warning btn-xs', title: "Edit School" do
                %span.glyphicon.glyphicon-edit
                Edit
        %tr
          %th= School.human_attribute_name(:district)
          %td
            - if @school.district.present?
              = link_to @school.district.name, [@school.district.state, @school.district]
            - else
              N/A
        %tr
          %th= School.human_attribute_name(:created_at)
          %td= l(@school.created_at, format: :short)
        %tr
          %th= School.human_attribute_name(:updated_at)
          %td= l(@school.updated_at, format: :short)

  #school_based_campaigns.tab-pane
    %div#button-toolbar
      = link_to new_master_ajax_school_campaign_path(@school), id: 'new_school_campaign_link', class: 'btn btn-primary', role: "button", data: {toggle: "modal", target: '#newCampaignModal', remote: true}, title: "Add New School Campaign" do
        %span.glyphicon.glyphicon-plus

    = paginate @school_based_campaigns, param_name: "campaigns_page", params: { anchor: "school_based_campaigns" }
    %table.table.table-striped.table-hover.table-condensed#school_based_campaigns_table
      %thead
        %tr
          %th= Campaign.human_attribute_name(:name)
          %th= Campaign.human_attribute_name(:district)
          %th= Campaign.human_attribute_name(:school_wide)
          %th= Campaign.human_attribute_name(:active)
      %tbody
        - @school_based_campaigns.each do |campaign|
          = render 'master_ajax/schools/campaigns/campaign', campaign: campaign

.modal.fade#newCampaignModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
        %h3.modal-title
      .modal-body
        %p
